.botones-admin {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-top: 1.5rem;
}

@media (max-width: 600px) {
  .botones-admin button {
    font-size: 14px;
    padding: 10px;
  }
}